@font-face{
    font-family: 'ralewaymedium_italic';
    src: url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.eot');
    src: url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-raleway/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaymedium';
    src: url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.eot');
    src: url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaylight_italic';
    src: url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.eot');
    src: url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-raleway/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'ralewaylight';
    src: url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.eot');
    src: url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'playfair_displayregular';
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.eot');
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'playfair_displayitalic';
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.eot');
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'playfair_displaybold_italic';
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.eot');
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'playfair_displaybold';
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.eot');
    src: url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/webfontkit-playfair/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* content */

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

html {
	font-size: 14px;
}

body,
button,
input,
select,
textarea {
  color: #2d2d2d;
  font-family: 'ralewaymedium', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
}

h1, h2, h3 {
   font-family: 'playfair_displayregular', serif;
   line-height: 1;
}

h2 {
   font-size: 2.4rem;
   font-style: italic;
   margin-bottom: 1.5rem;
}

h3 {
   color: #e2574c;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

a {
   color: #e2574c;
}

a:hover {
   color: #b64036;
}

/* header */

 .site-header {
   background-color: white;
   border-bottom: 1px solid #d7d7d7;
   box-shadow: 0px 1px 6px rgba(100, 100, 100, 0.15);
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
}

.site-header-inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-bottom: .5rem;
   padding-top: 1rem;
   max-width: 96%;
   margin: 0 auto;
}

.logo {
   align-self: flex-start;
   flex: 0 1 50%;
}

.logo img {
   max-width: 120px;
}

.cart {
   align-self: flex-end;
   cursor: pointer;
   flex: 0 1 50%;
   text-align: right;
   width: 50px;
}

.total-items {
   background-color: #e2574c;
   border-radius: 50%;
   color: white;
   display: none;
   font-size: .8rem;
   font-weight: bold;
   height: 20px;
   line-height: 1;
   padding-top: 4px;
   position: absolute;
   right: 8px;
   text-align: center;
   top: 8px;
   width: 20px;
}

.main-navigation {
   align-self: center;
   flex: 1 0 auto;
}

.main-navigation ul {
   border-top: 1px solid #d7d7d7;
   padding-top: .5rem;
   text-align: center;
}

.main-navigation li {
   display: inline-block;
   font-weight: bold;
   margin: 0 1rem;
   text-transform: uppercase;
}

.main-navigation li a {
   text-decoration: none;
}

.main-navigation li a:before {
   content: '';
   display: block;
   height: 82px;
   margin: -82px 0 0;
}

/*banner*/

.hero{ 
	background:
   linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.3) 100%),
   url('../assets/images/banner-girl.png') no-repeat center 3.5em,
   url('../assets/images/flower-bkgd.jpg') repeat-x center top 0;
	background-size: cover, 150px, 650px, contain;
	height: 400px;
	position: relative;
	margin: 0;
	border: 1px;
}

.banner {
	margin-top: 116px;
}

.newcollect{
	color: rgba(255,255,255,1);
	text-align: center;
	position: relative;
	padding: 9em 0 0.5em 0;
	text-transform: uppercase;
	font-family: ralewaymedium;
	font-size: 1.1rem;
	margin: 0.35em 0 0.5em 0;
}

.catalog{
	text-align: center;
	padding-bottom: 0;
	color: white;
	position: relative;
	font-family: 'playfair_displayregular', sans-serif;
	font-size: 2.25rem;
	margin: 0;
}

.categories{
	font-family: 'playfair_displayitalic', sans-serif;
	text-align: center;
	font-size: 2.1rem;
	margin: 0.7em 0 1em 0;
	color: #2d2d2d;
	padding-bottom: 0;
}

.bold{
	font-family: 'playfair_displaybold', sans-serif;
	display: inline-block;
	font-size: 2.1rem;
	margin: 0.8em 0 0 0;
	color: #2d2d2d;
	padding-bottom: 0;
}

.top{
	margin-top: 1.4em;
}

.intro {
	padding: 4rem;
}

/* product grid */

.products {
   padding: 0;
}

.product-categories {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}

.category-wide,
.category-square {
   border: 4px solid white;
   position: relative;
}

.category-wide img:before,
.category-square img:before {
   background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% );
}

.category-wide {
   border-left: 0;
   border-right: 0;
   flex: 2 0 100%;
   max-width: 100%;
}

.category-square {
   flex: 1 0 50%;
   max-width: 49%;
}

.category-square:nth-child(even) {
   border-left: 0;
}

.category-square:nth-child(odd) {
   border-right: 0;
}

.category-wide:before,
.category-square:before {
   content: '';
   float: left;
}

.category-wide:before {
   padding-top: 50%;
}

.category-square:before {
   padding-top: 100%;
}

.category-name {
   color: white;
   font-family: 'Raleway Web', sans-serif;
   font-size: 1.6rem;
   font-weight: bold;
   height: auto;
   left: 50%;
   line-height: 1;
   position: absolute;
   text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
   text-transform: uppercase;
   top: 50%;
   transform: translate(-50%, -50%);
}

.category-name a {
   color: white;
   text-decoration: none;
}

.category-name a:hover {
   color: #f5ebc6;
}

.category-wide.mens {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/mens-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.category-square.trends {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/trends-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.category-square.glasses {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/glasses-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.category-square.sale {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/sale-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.category-square.bags {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/bags-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.category-wide.womens {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../assets/images/womens-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

/* featured products & bx-slider */

.bx-clone {
  display: none;
}

.bxslider{
	border: none;
}

.bx-viewport {
  box-shadow: 0 0 4px #FFF !important;
}

.craftdescribe{
	font-family: 'ralewaylight', times;
	font-size: 1rem;
	text-align: center;
	color: #2d2d2d;
}

.bottom{
	padding-bottom: 2.55em;
}

.centerme{ 
	margin: 0 auto;
}

.specialimage{
	margin-top: 2.6em;
}

.buyit{
	font-size: 0.7rem;
	font-family: 'ralewaymedium', times;
	color: #969696;
	text-transform: uppercase;
}

.price{
	font-family: 'ralewaymedium';
	font-size: 0.9rem;
	text-align: center;
	color: #969696;
	padding: 0em 0 3em 0;
}

.centerslide{ 
	 text-align: center;
	 list-style-type: none;
}

.itemdescribe{
	font-family: 'playfair_displayregular', sans-serif;
	font-size: 1.4rem;
	color: #e2574c;
	padding: 0;
	margin: 0;
}

/* updates form */

.ocean{ 
	background: 
	linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.3) 100%),
	url(../assets/images/wave-bkgd.jpg) no-repeat bottom; 
	background-size: contain 100%;
	height: 300px;
	padding-bottom: 3em;
}

[type="email"]{
	height: 3em;
	width: 80%;
	border: 1px;
	border-color: #d7d7d7;
	border-radius: 2em 2em 2em 2em;
	margin-top: 1em;
	margin-bottom: 0em;
	position: relative;
}

[placeholder="Your Email"]{
	font-family: 'playfair_displayregular', sans-serif;
	font-size: 1rem;
	color: #d7d7d7;
	padding-left: 1.5em;
}

[type="submit"]{
	float: right;
	background-color: #e2574c;
	right: 7.5%;
    margin-top: 1.1em;
	padding: 0.5em 1.5em 0.5em 1.5em;
	border: 1px;
	border-radius: 2em 2em 2em 2em;
	position: absolute;
}

[value="Subscribe"]{
	font-family: 'ralewaylight', times;
	color: white;
	font-size: 1rem;
}

.infosubmit{
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

.final{
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	color: white;
}

.updates{
	font-family: 'ralewaylight', sans-serif;
	font-size: 1.15rem;
	text-align: center;
	color: white;
	width: 100%;
    margin: 1em auto;
}

/* footer */

.containment {
	display: flex;
	justify-content: space-between;
}

.left{
	margin-top: 4em;
}

i{ 
	color: white;
}

.footnote{
	font-family: 'playfair_displayregular', times;
	font-size: 0.9rem;
	color: white; 
	text-align: center;
}

.greyfootnote{
	text-align: center;
	color: #969696;
}

.none{
	margin: 0;
	list-style-type: none;
	text-align: center;
	font-color: rgb(255,255,255);
	padding: 1em 0 3em 0;
}

.none li{
	height: 1rem;
	display: inline-block;
	list-style-type: none;
	font-color: rgb(255,255,255);
	margin: 0.3em 1em;
}

.black{
	background-color: #242424;
	padding-top: 0em;
	width: 100%;
	margin-top: 0.5em;
}

.hide{
	display: none;
}

.fa{ 
	color: white;
	font-size: 0.9rem;
}

.hover:hover{
	color: #b64036;
}

/* media query breakpoint section */
/* tablet screen size breakpoint */

@media screen and (min-width: 600px){

/* content change */

	html{
		font-size: 16px;
	}

	/* header */
	.site-header {
	  flex-wrap: nowrap;
	}

	.main-navigation ul {
	  border-top: 0;
	  padding-top: 0;
	}

	.logo {
	  order: 1;
	  flex-basis: 20%;
	}

	.logo img {
	  max-width: 120px;
	}

	.cart {
	  flex-basis: 20%;
	  order: 3;
	  position: relative;
	  width: 48px;
	}
	/* nav */

	.listnav ul {
	    border: 0;
	    padding: 0;
	}

	.listnav {
	    align-items: flex-start;
	    flex: 0 1 auto;
	}

	.listnav li {
	    font-size: 2rem;
	    margin: 0 .3rem
	}

	.wrapping{
		width: 100%;
		margin: 0 auto;
	}

	.total-items {
	  font-size: .8rem;
	  padding-top: 3px;
	  right: -3px;
	  top: -3px;
	}

	.main-navigation {
	  flex-basis: 60%;
	  order: 2;
	}

	.main-navigation li {
	  font-size: .9rem;
	  margin: 0 .5rem;
	}

	/* hero image */

	.banner {
		margin-top: 83px;
	}

	/* Products */

	.category-wide {
	  flex-basis: 48.8%;
	}

	.category-square {
	  flex-basis: 24.05%;
	}

	.category-wide:first-child,
	.category-square:nth-child(5) {
	  border-left: 0;
	  border-right: 4px solid white;
	}

	.category-square:nth-child(2),
	.category-square:nth-child(5),
	.category-wide:last-child {
	  border-left: 4px solid white;
	}

	.category-square:nth-child(3),
	.category-wide:last-child {
	  border-right: 0;
	}

	.category-name {
	  font-size: 1.8rem;
	}

	/* updates form */

	.updates {
		width: 75%;
	}

	/*footer*/ 

	footer{
		width:100%;
		height:300px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footnote{
		padding: 0;
		margin: 0;
	}

	.left{
		margin: 0;
		padding: 0;
		display: flex;
		align-items:flex-end;
		justify-content: flex-end;
		flex-direction: column;
	}

	.none{
		margin: 0;
		padding: 0;
		display: flex;
		alignt-items: flex-end;
		justify-content: flex-end;
		flex-direction: column;
	}

	.hide{
		display: inline-block;
	}

	/* featured products and bx-slider */

	.craftdescribe{
		font-size: 1.2rem;
	}

	.bx-clone {
	    display: inline-block;
	}

	.bxslider li{
	    width: 50vw !important;
	}

	.squish{
		width: 100%;
	}

	/* Email */

	[type="submit"] {
		right: 23.85%;
    	margin-top: 1.1em;
	}

	[type="email"] {
		width: 50%;
	}
}

/* desktop breakpoint */

@media screen and (min-width: 1240px){

	/* content */

	html{ 
	font-size: 16px;
	}

	.containter {
		max-width: 1240px;
	}

	/* header */

	.logo img {
	  max-width: 160px;
	}

	.cart {
	  width: 62px;
	}

	.total-items {
	  font-size: .9rem;
	  padding-top: 4px;
	  height: 24px;
	  width: 24px;
	}

	.main-navigation li {
	  font-size: 1rem;
	  margin: 1rem;
	}

	.banner {
		margin-top: 97px;
	}

	/*products */

	.category-name {
	  font-size: 2.5rem;
	}

	/*featured products & bx-slider*/

	.bxslider li{
	    width: 25vw !important;
	}

	.squish{
		width: 60%;
		text-align: center;
		margin: 0 auto;
	}

	.up {
	  	font-size: 1.2rem;
	}

	/* Email */

	[type="email"] {
		width: 33%;
	}

	[type="submit"] {
		right: 32.65%;
		margin-top: 1.05em;
	}
}